<div id="title" class="title-type-1 title-custom-styles-03-1 title-breadcrumb-vertical-centered" style="background: url('/assets/images/IMG_2677.png')">
  
  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        
        <div class="title title-variant-1">
          <span class="subtitle">Necesitas ayuda de los expertos.</span>
          <h1>Contacto</h1>
        </div>
        
        <div class="breadcrumb breadcrumb-variant-2">
          <span>Estas aquí:</span>
          <ul class="clearfix">
            <li class="parent"><a href="/">home</a></li>
            <li class="breadcrumb-title">contacto</li>
          </ul>
        </div>
        
      </div>
    </div>
    
  </div>
  
</div>
</div>
<div id="main" class="inner-page">
<div class="container">
  
  <div class="row">
    
    <div class="col-md-12">
      
      <div class="row theme-row">
        
        <div class="col-md-8">
          <div class="heading-element heading-element-7 heading-element-7-align-left">
            
            <h4>Nosotros</h4>
            
          </div>
          <p>En Eenegía Sin Limites estamos para atenderte, nuestro horario de atención telefónica es de lunes a viernes de 8:00 am a 6:00 pm, si te pones en contacto con nosotros desde la página nosotros te llamamos.</p>
          <div class="divider divider-20"></div>
          <div class="heading-element heading-element-7 heading-element-7-align-left">
            
            <h4>Contacto</h4>
            
          </div>
          <form class="contact-form">
            <p class="contact-form-author">
              Nombre (requerido)<br/>
              <input id="author" class="theme-form" type="text" placeholder="" name="author">
            </p>
            <p class="contact-form-email">
              Email (requerido)<br/>
              <input id="email" class="theme-form" type="email" placeholder="" name="email">
            </p>
            <p class="contact-form-email">
              Teléfono de contacto(requerido)<br/>
              <input id="phone" class="theme-form" type="email" placeholder="" name="email">
            </p>
            <p class="contact-form-author">
              Asunto <br/>
              <input id="subject" class="theme-form" type="text" placeholder="" name="author">
            </p>
            <p class="contact-form-message">
              Mensaje <br/>
              <textarea id="message" class="theme-form" placeholder="" rows="8" cols="58" name="comment"></textarea>
            </p>
            <p class="contact-form-submit">
              <button class="btn btn-styles btn-primary btn-icon" type="button"><span>Venviar mensaje</span><i class="icon icon-linear-big-2-01"></i></button>
            </p>
          </form>
        </div>
        <div class="col-md-4">
          <div class="widget widget-text" >
            <p style="margin-bottom:20px">Energia sin limites del centro S.A. de C.V. Tequisquiapan queretaro. Barrio de la magnalena, Calle. Hidalgo 10.</p>
            <div style="background: rgba(54,49,46,0.8); padding:10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;">
              <center>
              <a class="btn btn-styles btn-icon-adv-2 btn-icon-adv-2-left btn-border btn-custom-style-14-1" href="tel:4142793186" target="_blank"><i class="icon icon-phone-speaker"></i><span>Llamanos  +52(414)2793186  </span></a>
              <a class="btn btn-styles btn-icon-adv-2 btn-icon-adv-2-left btn-border btn-custom-style-14-1" href="tel:4141001901" target="_blank"><i class="icon icon-phone-speaker"></i><span>Llamanos  +52(414)1001901  </span></a>
              </center>
            </div>
          </div>
        </div>
      </div>