<div class="revslider-header-wrap">
<div id="rev_slider_16_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="14-789ecology-ecotravel-slider" style="margin:0px auto;padding:0px;margin-top:0px;margin-bottom:0px;background-image:url(assets/images/IMG_2599.png);background-repeat:no-repeat;background-size:cover;background-position:center center;">
  <!-- START REVOLUTION SLIDER 5.1.6 auto mode -->
  <div id="rev_slider_16_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.1.6">
    <ul>  <!-- SLIDE  -->
    <li data-index="rs-39" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="500"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
      <!-- MAIN IMAGE -->
      <img src="revslider/14-789ecology-ecotravel-slider/assets/dummy.png"  alt=""  data-lazyload="revslider/14-789ecology-ecotravel-slider/assets/dd0ee-001-background-image.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
      <!-- LAYERS -->
      <!-- LAYER NR. 1 -->
      <div class="tp-caption Ecotravel-Slider-Header-1   tp-resizeme"
        id="slide-39-layer-1"
        data-x="['left','left','left','left']" data-hoffset="['30','26','24','24']"
        data-y="['top','top','top','top']" data-voffset="['350','580','730','630']"
        data-fontsize="['48','48','48','36']"
        data-lineheight="['60','60','60','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        
        data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:500;s:500;"
        data-start="700"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        
        style="z-index: 5; white-space: nowrap;">Energia solar en tu hogar
      </div>
      <!-- LAYER NR. 2 -->
      <div class="tp-caption Forestfuels-Slider-Header-2   tp-resizeme"
        id="slide-39-layer-2"
        data-x="['left','left','left','left']" data-hoffset="['30','26','24','24']"
        data-y="['top','top','top','top']" data-voffset="['420','650','800','690']"
        data-fontsize="['60','60','60','36']"
        data-lineheight="['70','70','70','50']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        
        data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:500;s:500;"
        data-start="700"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        
        style="z-index: 6; white-space: nowrap;">Autosuficiencia energética
      </div>
      <!-- LAYER NR. 3 -->
      <div class="tp-caption Default-Slider-Caption-Text   tp-resizeme"
        id="slide-39-layer-3"
        data-x="['left','left','left','left']" data-hoffset="['30','26','24','24']"
        data-y="['top','top','top','top']" data-voffset="['510','740','890','760']"
        data-fontsize="['16','16','16','14']"
        data-lineheight="['24','24','24','20']"
        data-width="['585','585','585','420']"
        data-height="none"
        data-whitespace="normal"
        data-transform_idle="o:1;"
        
        data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:500;s:500;"
        data-start="700"
        data-splitin="none"
        data-splitout="none"
        data-responsive_offset="on"
        
        style="z-index: 7; min-width: 585px; max-width: 585px; white-space: normal;">Los calentadores solares son una nueva tendencia que nos permite tener autosuficiencia energética y ahorrar dinero en combustibles, reducir contaminantes y maximizar beneficios a la hora de ahorrar.
      </div>
      <!-- LAYER NR. 4 -->
      <div class="tp-caption   tp-resizeme"
        id="slide-39-layer-4"
        data-x="['left','left','left','left']" data-hoffset="['30','26','24','24']"
        data-y="['top','top','top','top']" data-voffset="['620','850','1000','890']"
        data-width="none"
        data-height="none"
        data-whitespace="nowrap"
        data-transform_idle="o:1;"
        
        data-transform_in="opacity:0;s:500;e:Power2.easeInOut;"
        data-transform_out="opacity:0;s:500;s:500;"
        data-start="700"
        data-responsive_offset="on"
        
        style="z-index: 8;">
      </div>
    </li>
  </ul>
  <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
  </div><!-- END REVOLUTION SLIDER -->
  <script type="text/javascript">
  var setREVStartSize=function(){
  try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
  e.c = jQuery('#rev_slider_16_1');
  e.gridwidth = [1450];
  e.gridheight = [840];
  
  e.sliderLayout = "fullwidth";
  if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
  
  }catch(d){console.log("Failure at Presize of Slider:"+d)}
  };
  
  setREVStartSize();
  
  var tpj=jQuery;
  
  var revapi16;
  tpj(document).ready(function() {
  if(tpj("#rev_slider_16_1").revolution == undefined){
  revslider_showDoubleJqueryError("#rev_slider_16_1");
  }else{
  revapi16 = tpj("#rev_slider_16_1").show().revolution({
  sliderType:"hero",
  jsFileLocation:"//dev.lpd-themes.com/revslider-standalone/revslider/public/assets/js/",
  sliderLayout:"auto",
  dottedOverlay:"none",
  delay:9000,
  navigation: {
  },
  viewPort: {
  enable:true,
  outof:"wait",
  visible_area:"80%"
  },
  responsiveLevels:[1240,1024,778,480],
  visibilityLevels:[1240,1024,778,480],
  gridwidth:[1200,992,768,480],
  gridheight:[860,1090,1120,1120],
  lazyType:"all",
  shadow:0,
  spinner:"off",
  autoHeight:"off",
  disableProgressBar:"on",
  hideThumbsOnMobile:"off",
  hideSliderAtLimit:0,
  hideCaptionAtLimit:0,
  hideAllCaptionAtLilmit:0,
  debugMode:false,
  fallbacks: {
  simplifyAll:"off",
  disableFocusListener:false,
  }
  });
  }
  }); /*ready*/
  </script>
  
</div>

</div>

<div id="main" class="">
<div class="container">
  
  <div class="row">
    
    <div class="col-md-12">
      <div class="row full-width-theme-row stretch-theme-row row-image-bg-top" style="background-image: url(assets/images/preview/row-background-03.png);">
        <div class="col-md-12">
          
          <div class="call-to-action-element call-to-action-element-5 clearfix">
            <div class="ctae-imageWrap">
              <div class="ctae-image" style="background-image: url(assets/images/IMG_2622.png);"></div>
            </div>
            <div class="ctae-contentWrap">
              <div class="ctae-content">
                <span class="title">Somos especialistas en energia solar</span>
                <span class="sub-title">Estamos especializados en calentadores nergia solar para tu hogar</span>
                <a class="btn btn-custom-styles-14-1 btn-styles btn-icon-adv" href="#" target="_blank"><span>Contactar Experto</span><i class="icon icon-triangle-big-4-01"></i></a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="row no-padding-theme-row row-custom-styles-14-4">
        
        <div class="col-md-6">
          <div class="media-element media-element-5 no-margin-element">
            <div class="media-elementWrap">
              
              <img src="assets/images/IMG_2594.png" alt="" />
              
              <div class="media-element-content">
                
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <h4>¿Que te ofrecemos?</h4><br />
                        <a class="btn btn-styles btn-sm btn-icon-adv" href="#" target="_blank"><span>Ver</span><i class="icon icon-triangle-big-4-01"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              
              <div class="media-element-5-hover-effect"></div>
              
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="media-element media-element-5 no-margin-element">
            <div class="media-elementWrap">
              
              <img src="assets/images/IMG_2610.png" alt="" />
              
              <div class="media-element-content">
                
                <table>
                  <tbody>
                    <tr>
                      <td>
                        <h4>¿Como funciona?</h4><br />
                        <a class="btn btn-styles btn-sm btn-icon-adv" href="#" target="_blank"><span>Ver</span><i class="icon icon-triangle-big-4-01"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
              </div>
              
              <div class="media-element-5-hover-effect"></div>
              
            </div>
          </div>
        </div>
        
      </div>
      <div class="row theme-row">
        
        <div class="col-md-12">
          
          <div class="divider divider-40"></div>
          <div class="heading-element heading-element-5">
            
            <h4>Vive una mejora <span>en tu calidad de vida</span></h4>
            
            <div class="sep-element"></div>
            
          </div>
          <div class="divider divider-20"></div>
          
          <div class="row portfolio-type-5 portfolio-container portfolio-type-5-custom-styles-14-1">
            
            <div class="col-md-3">
              
              <div class="portfolio-item">
                <div class="portfolio-container-image">
                  <img alt="" src="assets/images/IMG_2610.png">
                  <div class="img-portfolio-container-element-nav">
                    <a class="img-portfolio-container-link" href="#"><i class="icon icon-chain-link-1"></i></a>
                    <a class="img-portfolio-container-lightbox" href="assets/images/IMG_2610.png" rel="prettyPhoto[portfolio-gallery]" title="This is the description" ><i class="icon icon-plus-zoom"></i></a>
                  </div>
                </div>
                <div class="portfolio-container-caption">
                  <a href="#" class="portfolio-container-title">Tecnología de punta</a>
                </div>
              </div>
              
            </div>
            
            <div class="col-md-3">
              
              <div class="portfolio-item">
                <div class="portfolio-container-image">
                  <img alt="" src="assets/images/IMG_2698.png">
                  <div class="img-portfolio-container-element-nav">
                    <a class="img-portfolio-container-link" href="#"><i class="icon icon-chain-link-1"></i></a>
                    <a class="img-portfolio-container-lightbox" href="assets/images/IMG_2698.png" rel="prettyPhoto[portfolio-gallery]" title="This is the description" ><i class="icon icon-plus-zoom"></i></a>
                  </div>
                </div>
                <div class="portfolio-container-caption">
                  <a href="#" class="portfolio-container-title">Te ofrecemos la instalación</a>
                </div>
              </div>
              
            </div>
            
            <div class="col-md-3">
              
              <div class="portfolio-item">
                <div class="portfolio-container-image">
                  <img alt="" src="assets/images/IMG_2687.png">
                  <div class="img-portfolio-container-element-nav">
                    <a class="img-portfolio-container-link" href="#"><i class="icon icon-chain-link-1"></i></a>
                    <a class="img-portfolio-container-lightbox" href="assets/images/IMG_2687.png" rel="prettyPhoto[portfolio-gallery]" title="This is the description" ><i class="icon icon-plus-zoom"></i></a>
                  </div>
                </div>
                <div class="portfolio-container-caption">
                  <a href="#" class="portfolio-container-title">Te ofrecemos mantenimiento</a>
                </div>
              </div>
              
            </div>
            
            <div class="col-md-3">
              
              <div class="portfolio-item">
                <div class="portfolio-container-image">
                  <img alt="" src="assets/images/IMG_2677.png">
                  <div class="img-portfolio-container-element-nav">
                    <a class="img-portfolio-container-link" href="#"><i class="icon icon-chain-link-1"></i></a>
                    <a class="img-portfolio-container-lightbox" href="assets/images/IMG_2677.png" rel="prettyPhoto[portfolio-gallery]" title="This is the description" ><i class="icon icon-plus-zoom"></i></a>
                  </div>
                </div>
                <div class="portfolio-container-caption">
                  <a href="#" class="portfolio-container-title">Una actitud siempre amable</a>
                </div>
              </div>
              
            </div>
            <div class="clearfix"></div>
            
          </div>
          
        </div>
        
        
      </div>
<!--
      <div class="row theme-row full-width-theme-row stretch-theme-row row-image-bg-top" style="background-image: url(assets/images/preview/row-background-02.jpg);">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="testimonial-container testimonial-container-3">
            <div class="image">
              <img src="assets/images/preview/shutterstock_346160153-860x860.jpg" alt="" />
              <i class="icon icon-talk-typing-1"></i>
            </div>
            <p>This is a functionally rich theme and there were some installation issues (partially own fault as envato developer assigned to the job had upgraded a plugin beyond the current version supported) i sought help from lpdthemes and they were excellent. I really appreciated their input.</p>
            <div class="titleWrap">
              <div class="title">Janie Doe</div>
              <div class="description">(Happy Client)</div>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div class="row theme-row">
        
        <div class="col-md-12">
          
          <div class="divider divider-30"></div>
          <div class="heading-element heading-element-5">
            
            <h4>Comprometidos con el <span>Cambio Climático</span></h4>
            
            <div class="sep-element"></div>
            
          </div>
          <div class="divider divider-20"></div>
          
          <div class="row">
            
            <div class="col-md-4">
              
              <div class="blog-container blog-container-1 blog-container-custom-styles-14-1">
                <div class="featured-image">
                  <a href="#"><img src="assets/images/preview/shutterstock_93196708-860x574.jpg" alt="" /></a>
                  <div class="dateWrap">
                    <span class="date"><span class="num">18</span><span class="month">May</span></span>
                  </div>
                </div>
                <div class="blog-container-content">
                  <h4 class="blog-container-title"><a href="">Text Alignment</a></h4>
                  <div class="blog-container-text"><p class="no-margin-element">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor laoreet mauris. Vestibulum porttitor tellus non purus bibendum aliquet. Fusce eleifend vitae diam sit</p></div>
                  <a class="btn btn-styles btn-sm btn-icon" href="#" target="_blank"><span>Read More</span><i class="icon icon-triangle-big-4-01"></i></a>
                </div>
              </div>
              
            </div>
            <div class="col-md-4">
              
              <div class="blog-container blog-container-1 blog-container-img-ratio-3x2 blog-container-custom-styles-14-1">
                <div class="no-featured-image">
                  <div class="no-image-label"><span>No Image</span></div>
                  <div class="dateWrap">
                    <span class="date"><span class="num">16</span><span class="month">Apr</span></span>
                  </div>
                </div>
                <div class="blog-container-content">
                  <h4 class="blog-container-title"><a href="">Post Format: Standard</a></h4>
                  <div class="blog-container-text"><p class="no-margin-element">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor laoreet mauris. Vestibulum porttitor tellus non purus bibendum aliquet. Fusce eleifend vitae diam sit</p></div>
                  <a class="btn btn-styles btn-sm btn-icon" href="#" target="_blank"><span>Read More</span><i class="icon icon-triangle-big-4-01"></i></a>
                </div>
              </div>
              
            </div>
            <div class="col-md-4">
              
              <div class="blog-container blog-container-1 blog-container-img-ratio-3x2 blog-container-custom-styles-14-1">
                <div class="featured-image">
                  <a href="#"><img src="assets/images/preview/shutterstock_224398945-860x574.jpg" alt="" /></a>
                  <div class="dateWrap">
                    <span class="date"><span class="num">07</span><span class="month">Mar</span></span>
                  </div>
                </div>
                <div class="blog-container-content">
                  <h4 class="blog-container-title"><a href="">Image Alignment</a></h4>
                  <div class="blog-container-text"><p class="no-margin-element">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor laoreet mauris. Vestibulum porttitor tellus non purus bibendum aliquet. Fusce eleifend vitae diam sit</p></div>
                  <a class="btn btn-styles btn-sm btn-icon" href="#" target="_blank"><span>Read More</span><i class="icon icon-triangle-big-4-01"></i></a>
                </div>
              </div>
              
            </div>
            
          </div>
          
        </div>
        
        
      </div>
    -->

      <div class="row row-custom-styles-14-2">
        
        <div class="col-lg-4 col-md-6 col-lg-offset-0 col-md-offset-3">
          <img alt="" class="img-responsive" src="assets/images/save-the-world.jpg">
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="divider divider-20"></div>
          <div class="divider divider-40"></div>
          <span class="highligh-heading highligh-heading-4 highligh-heading-custom-style-14-1">Cambia el mundo</span>
          <div class="divider divider-10"></div>
          <span class="highligh-heading highligh-heading-4 highligh-heading-custom-style-14-1">Ahorrando dinero</span>
          <div class="divider divider-30"></div>
          <p>Te invitamos a que te unas a nuestra distinguida clientela, cambiando al mundo, mejorando tu calidad de vida y ahorrando dinero, un calentador solar es una inversión que única que te dará ahorros hasta por 15 años </p>
          <div class="divider divider-40 hidden-sm hidden-xsm"></div>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="divider divider-20 hidden-sm hidden-xsm"></div>
          <div class="divider divider-40"></div>
          <a href="#" class="icon-button-element icon-button-element-1 icon-button-element-full icon-button-custom-style-1">
            <i class="icon icon-map-pin-1 icon-button-icon-style-1"></i>
            <span>Contactanos.</span>
          </a>
        </div>
        <div class="col-lg-2 col-md-3">
          <div class="divider divider-20 hidden-sm hidden-xsm"></div>
          <div class="divider divider-40"></div>
          <a href="#" class="icon-button-element icon-button-element-1 icon-button-element-full icon-button-custom-style-1">
            <i class="icon icon-percent-circle icon-button-icon-style-1"></i>
            <span>Ver ofertas</span>
          </a>
          <div class="divider divider-40"></div>
        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>

</div>
<div id="footer">

<div class="middle-section widget-type-2">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget widget-text">
          <h4 class="title">Acerca de nosotros</h4>
          <div>
            <p style="margin-bottom:20px">Energia sin limites del centro S.A. de C.V. Tequisquiapan queretaro. Barrio de la magnalena, Calle. Hidalgo 10.</p>
            <a class="btn btn-styles btn-icon-adv-2 btn-icon-adv-2-left btn-border btn-custom-style-14-1" href="#" target="_blank"><i class="icon icon-phone-speaker"></i><span>Llamanos  +52 (55) </span></a>
            <a class="btn btn-styles btn-icon-adv-2 btn-icon-adv-2-left btn-border btn-custom-style-14-1" href="#" target="_blank"><i class="icon icon-favorite-mail"></i><span>vallerpedro@gmail.com</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget widget-tags">

          <h4 class="title">Blog Tags</h4>

          <!--

          <div class="tags">
            <a href="#">Flurescent</a>
            <a href="#">Hight-Intensity</a>
            <a href="#">Incandescent</a>
            <a href="#">Diodes</a>
            <a href="#">Light Emitting Diode</a>
            <a href="#">Edison</a>
            <a href="#">Hiram Maxim</a>
            <a href="#">Joseph Swan</a>
          </div>
                  -->

        </div>
      </div>
      <div class="col-md-4">
        <div class="widget widget-social-icons">
          <h4 class="title">Social Network</h4>
          <div>
            <a href="#" class="social-media-element social-media-element-1 social-btn-custom-style-14-1">
              <i class="icon social-icon-05-twitter"></i>
              <span class="content">
                <span class="title">Twitter</span>
                <span class="slogan">Siguenos en Twitter</span>
              </span>
            </a>
            <a href="#" class="social-media-element social-media-element-1 social-btn-custom-style-14-2">
              <i class="icon social-icon-06-facebook"></i>
              <span class="content">
                <span class="title">Facebook</span>
                <span class="slogan">Siguenos en Facebook</span>
              </span>
            </a>
            <p>Energia sin limites del centro &copy Todos los derechos reservados. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

</div>



</div>

<script src="assets/js/functions.js"></script>
<script src="assets/js/plugins.js"></script>


<script type="text/javascript">

jQuery(document).ready(function(){
jQuery("a.img-portfolio-container-lightbox[rel^='prettyPhoto']").prettyPhoto({animation_speed:'normal',theme:'light_square',slideshow:3000, autoplay_slideshow: false});
});


</script>