<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <div class="pull-left"><img src="img/sun.png" alt="Brand" width="20" height="20"></div><div class="pull-right"> Calentadores Solares </div>
      </a>
    </div>
  </div>
</nav>
<div class="image-banner">
</div>
<div class="position-hover">
  <div class="row">
    <!--
    <div class="col-md-4">
      <iframe width="480" height="360" src="https://www.youtube.com/embed/0YlqICWhrwU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>-->
    <div class="col-md-12">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
          <li data-target="#carousel" data-slide-to="3"></li>
          <li data-target="#carousel" data-slide-to="4"></li>
          <li data-target="#carousel" data-slide-to="5"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <center><img src="../img/bicentenario1.jpg" width="100%"></center>
            <div class="carousel-caption">
              <div class="absolutley-info" ><div class="btn btn-danger" >Quiero comenzar a ahorrar dinero.</div>
            </div>
            <h1>
            Los mejores calentadores solares del centro del país.
            </h1>
          </div>
        </div>
        <div class="item">
          <center><img src="../img/bicentenario2.jpg" width="100%"></center>
          <div class="carousel-caption">
            <div class="absolutley-info" ><div class="btn btn-info" >Pregunta por nuestros precios</div>
            </div>
            <h1>
            Te ofrecemos un ahorro en miles de pesos en Gas.
            </h1>
          </div>
        </div>
        <div class="item">
          <center><img src="../img/bicentenario3.jpg" width="100%"></center>
          <div class="carousel-caption">
           <div class="absolutley-info" ><div class="btn btn-warning" >Conoce como funciona un calentador solar</div>
            </div>
            <h1>
            Una inversión a corto plazo que durará muchos años.
            </h1>
          </div>
        </div>
        <div class="item">
          <center><img src="../img/bicentenario4.jpg" width="100%"></center>
          <div class="carousel-caption">
            <div class="absolutley-info" ><div class="btn btn-success" >Mira la información ecológica</div>
            </div>
            <h1>
            Una forma de cuidar la naturaleza y el ambiente.
            </h1>
          </div>
        </div>
        <div class="item">
          <center><img src="../img/bicentenario5.jpg" width="100%"></center>
          <div class="carousel-caption">
            <div class="absolutley-info" ><div class="btn btn-info" >Contáctanos</div>
            <h1>
            Nosotros de hacemos la intelación
            </h1>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>
</div>
<div class="skimn">
<div class="container ">
  <div class="row">
    <h2>¿Ahorrando dinero con energía solar?</h2>
    <div class="col-md-5 text-justify pull-left">
      <br/>
      <p>La energía solar es la fuente de enrgía mas grande que existe en la tierra, esta energía hasta ahora solo habia sido utilizada de forma natural, ella no habia sido objeto de transformaciones por el hombre para mejora de su calida de vida, con la implementación de celdas solares para conversión electria o calentadores solares para uso directo de la energía solar como calor. </p>
      <p>La energía solar ofrece un rendimiento más optimo ya que no es una nergía encapsulada, si no que es un tipo de energía que se encuentra en todo el ambiente, en forma de calor.</p>
      <p>El uso de esta energía reduce los costos de mantenimiento de un hogar en un 40% del consumo del Gás LP o natural, lo que conlleva a menos contaminación y un ahorro a corto plazo de dinero.</p>
      <p>Les dejamos un comparativo de consumo.</p>
    </div>
    <div class="col-md-7 text-justify pull-left">
      <h3>Calentador solar:</h3><br/>
      Calor obtenido 90º Temperatura
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">90º Temperatura</span>
        </div>
      </div>
      Consumo de combustibles fociles mensualmente promedio $0.0 MXN
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0.5%">
          <span class="sr-only">0 mxn mensual</span>
        </div>
      </div>
      Duración sobre 20 años.
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
          <span class="sr-only">15 años.</span>
        </div>
      </div>
      Précio sobre la demanda del mercado.
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
          <span class="sr-only">$5,900 MXN.</span>
        </div>
      </div>
      <h3>Calentador de gas:</h3><br/>
      Calor obtenido  85º Temperatura
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
          <span class="sr-only">85º Temperatura</span>
        </div>
      </div>
      Consumo de combustibles fociles mensualmente promedio $131.0 MXN
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
          <span class="sr-only">131 mxn mensual</span>
        </div>
      </div>
      Duración sobre 20 años.
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
          <span class="sr-only">15 años.</span>
        </div>
      </div>
      Précio sobre la demanda del mercado.
      <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 56%">
          <span class="sr-only">$5,900 MXN.</span>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="sking">
  <div class="container ">
  <div class="row">
    <br/>
    <h1>Tenemos un calentador a tu medida</h1>
    <form>
      <div class="form-group">
      <select class="form-control">
        <option>Vivenda de una persona</option>
        <option>Dos personas</option>
        <option>Cinco personas</option>
        <option>Diéz personas</option>
        <option>Más de Diez</option>
      </select><br/>
      <select class="form-control">
        <option>$5000 MXN</option>
        <option>$6000 MXN</option>
        <option>$7000 MXN</option>
        <option>$9000 MXN</option>
        <option>$10000 MXN</option>
      </select><br/>
      </div>
    </form>
  </div>
  </div>
</div>
<script type="text/javascript">
var hfg= $( window ).height();
var margin = $( window ).height()+100;
var hfgth = (hfg/2)+50;
$('.image-banner').height(hfg+50);
$('.position-hover').height(hfg+50);
$('.item').height(hfg);
$('.skimn').height(hfg);
$('.sking').height(hfg);
$('.position-hover').css({
"margin-top": -margin,
"background": "transparent"
});
$('.absolutley-info').css({"margin-top":-hfgth});
</script>
<!--
<div class="item">
<center> <iframe width="780" height="560" src="https://www.youtube.com/embed/0YlqICWhrwU?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe></center>
<div class="carousel-caption">
  <h1>
  Fijate como funciona.
  </h1>
</div>
</div>
-->