<div class="wsmenucontainer clearfix">
  <div id="headerWrap" class="revslider-header revslider-absolute-header">
    
    <header id="header" class="header-type-4 header-custom-styles-14-1">
      
      <div class="wsmenucontent overlapblackbg"></div>
      
      <div class="wsmenuexpandermain">
        <a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
      </div>
      <div class="middle-header nav-sticky">
        
        <div class="container">
          
          <div class="row">
            <div class="col-md-12">
              
              <div class="logo"><a id="logo" href="/" title=""><img src="assets/images/energia_250/energia_H_250-01.png" alt="" width="250px" style="margin-top: 5px;" /></a></div>
              
              <div class="bigmegamenu clearfix">
                <div class="menu-wrapper">
                  
                  <nav class="nav-type-1 nav-submenu-type-5 nav-megamenu-type-3 wsmenu slideLeft clearfix">
                    <ul class="mobile-sub wsmenu-list">
                      <!--<li><a href="contact.html"><span>Productos</span></a></li>
                      <li><a href="contact.html"><span>Ofertas</span></a></li>-->
                      <li><a href="/contacto"><span>Contacto</span></a></li>
                    </ul>
                  </nav>
                  
                </div>
                
              </div>
              
              
            </div>
          </div>
          
        </div>
        
      </div>
    </header>