<div class="wsmenucontainer clearfix">
  <div id="headerWrap" class="revslider-header revslider-absolute-header">
    
    <header id="header" class="header-type-4 header-custom-styles-14-1">
      
      <div class="wsmenucontent overlapblackbg"></div>
      
      <div class="wsmenuexpandermain">
        <a id="navToggle" class="animated-arrow slideLeft"><span></span></a>
      </div>
      <!--
      <div class="top-bar">
        
        <div class="container">
          
          <div class="row">
            <div class="col-md-12">
              
              <div class="top-bar-left-container">
                
                
                <div class="top-bar-nav icon-style-2">
                  <ul>
                    <li>
                      <a href="#">
                        <span class="title">Request a Catalog</span>
                        <span class="description">Over 100 Pages of Tour Information</span>
                        <i class="icon icon-image-photo-file-1-1"></i>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span class="title">Talk To Our Consuntant</span>
                        <span class="description">From 8:00 am - 6:00 pm EST</span>
                        <i class="icon icon-phone-speaker"></i>
                      </a>
                    </li>
                  </ul>
                </div>
                
              </div>
              <div class="top-bar-right-container">
                
                <div class="wpml-container">
                  <ul>
                    <li><a href="#"><img height="12" alt="" title="English" src="assets/images/en.png">English</a></li>
                    <li><a href="#"><img height="12" alt="" title="English" src="assets/images/de.png">Germany</a></li>
                    <li><a href="#"><img height="12" alt="" title="English" src="assets/images/es.png">Spanish</a></li>
                  </ul>
                </div>
                
              </div>
              
            </div>
          </div>
          
        </div>
      </div>
      -->
      <div class="middle-header nav-sticky">
        
        <div class="container">
          
          <div class="row">
            <div class="col-md-12">
              
              <div class="logo"><a id="logo" href="/" title=""><img src="assets/images/energia_250/energia_H_250-01.png" alt="" width="250px" style="margin-top: 5px;" /></a></div>
              
              <div class="bigmegamenu clearfix">
                <div class="menu-wrapper">
                  
                  <nav class="nav-type-1 nav-submenu-type-5 nav-megamenu-type-3 wsmenu slideLeft clearfix">
                    <ul class="mobile-sub wsmenu-list">
                      <li><a href="contact.html"><span>Productos</span></a></li>
                      <li><a href="contact.html"><span>Ofertas</span></a></li>
                      <li><a href="contact.html"><span>Contacto</span></a></li>
                    </ul>
                  </nav>
                  
                </div>
                
              </div>
              
              
            </div>
          </div>
          
        </div>
        
      </div>
    </header>