.image-banner{
  background: url('../img/IuijDCu.png');
  width: 100%;
  height: 100%;
  margin-top: -18px;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);

}

.position-hover{
  padding-top: 100px;
}

.skimn{
  background: url('../img/dWsDBpV.png');
  color: #fff;
}
.sking{
  background: url('../img/6F6eAzr.png');
  color: #eqeqeq;
}